
[branding]
  discord_url = ""
  donation_address = "OPTIONAL_DONATION_WALLET_ADDRESS"
  fiat_currency = "usd"
  status_brand_domain = ""
  status_brand_name = ""
  status_tagline = "Solo Mining Pool"

[mining]
  coinbase_message = "goPool"
  coinbase_pool_tag = "MV5J"
  coinbase_scriptsig_max_bytes = 100
  coinbase_suffix_bytes = 4
  extranonce2_size = 4
  pool_fee_percent = 2.0
  template_extra_nonce2_size = 8

[node]
  data_dir = "data"
  payout_address = "YOUR_POOL_WALLET_ADDRESS_HERE"
  rpc_url = "http://127.0.0.1:8332"
  zmq_block_addr = "tcp://127.0.0.1:28332"

[server]
  pool_listen = ":3333"
  status_listen = ":80"
  status_tls_listen = ":443"

[stratum]
  stratum_tls_listen = ":4333"
